{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
     "eslint:recommended",
     "plugin:prettier/recommended"
  ],
  "globals": {
    "JParticles": "readonly",
    "runtimeSupport": "readonly"
  },
  "rules": {
    "no-console": 1,
    "no-var": 2,
    "no-unused-vars": [2, {
      "varsIgnorePattern": "Particle|Snow|WaveLoading|Wave|Line"
    }]
  }
}
