{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    // Allows for the parsing of modern ECMAScript features
    "ecmaVersion": 2020,
    // Allows for the use of imports
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "unused-imports"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier.
    "prettier/@typescript-eslint",
    // Enables eslint-plugin-prettier and eslint-config-prettier. This will display prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "lines-between-class-members": ["error", "always"],

    // Comments
    "no-inline-comments": "error",
    "line-comment-position": ["error", { "position": "above" }],
    "lines-around-comment": [
      "error",
      {
        "beforeBlockComment": true,
        "beforeLineComment": false,
        "allowBlockStart": true,
        "allowClassStart": true,
        "allowObjectStart": true,
        "allowArrayStart": true
      }
    ],
    "multiline-comment-style": ["error", "separate-lines"],
    "spaced-comment": ["error", "always", { "block": { "balanced": true } }],

    "eqeqeq": ["error", "always"],
    "simple-import-sort/sort": "error",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types":{
          "Function": false
        }
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports-ts": "error",
    "unused-imports/no-unused-vars-ts": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
